<div class="banner banner-company">
  <h1>What is left?</h1>
</div>
<div class="form-group">
  <h3>Categories</h3>
  <div *ngFor="let category of categoriesData; let i=index">
    <input type="checkbox" [value]="category.id" (change)="onCategoriesCheckChange($event)"> {{category.name}}
  </div>
</div>
<div class="form-group">
  <h3>Status</h3>
  <div *ngFor="let stat of statusData; let i=index">
    <input type="checkbox" [value]="stat" (change)="onStatusCheckChange($event)"> {{stat}}
  </div>
</div>
<div class="containter">
  <table class="table table-bordered table inverse">
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Description</th>
      <th>Offer Type</th>
      <th>Status</th>
      <th class="text-right">Price</th>
    </tr>
    <tr *ngFor="let item of items">
      <td>{{item.name}}</td>
      <td>{{item.location}}</td>
      <td>{{item.description}}</td>
      <td>{{item.offerType}}</td>
      <td>{{item.status}}</td>
      <td class="text-right">{{item.price}}</td>
    </tr>
  </table>
</div>
